<div class="container">
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li>
        <%= link_to restaurant.name.capitalize, restaurant_path(restaurant) %>
      </li>
    <% end %>
  </ul>
</div>
